<!-- Core -->
<script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

{#
<!-- DataTables JS -->
<script src="{{ url_for('static', filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
#}

<!-- Argon JS -->
<script src="{{ url_for('static', filename='js/argon.min.js') }}"></script>

<!-- Main JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
