{% if values|is_list -%}
    {% for v in values -%}
        {% with key=key, values=v -%}
            {% include 'samples/widgets/attrblock.html' -%}
        {% endwith -%}
    {% endfor -%}
{% else -%}
{% for k,v in values.items() -%}
{% if v is mapping %}
    {% with key=k, value=v -%}
        {% include 'samples/widgets/attrblock_mapping.html' -%}
    {% endwith -%}
{% elif v|is_list %}
<div class="panel-group" id="accordion_{{ k }}" role="tablist" aria-multiselectable="true">
    {% with key=k, value=v -%}
        {% include 'samples/widgets/attrblock_iterable.html' -%}
    {% endwith -%}
</div><!-- .panel-group -->
{% else %}
    {% with key=k, value=v -%}
        {% include 'samples/widgets/attrblock_text.html' -%}
    {% endwith -%}
{% endif -%}
{% endfor -%}
{% endif -%}
