{% if value|count > 0 %}
{{ bootstrap.table_open(head_values=value[0].keys()) }}
    {% for v in value -%}
    <tr>
        {% for k,_v in v.items() -%}
        {% if _v|is_list -%}
        <td data-title="{{ k|fromkey }}">
        {% with value=_v -%}
            {% include 'samples/widgets/attrblock_iterable.html' -%}
        {% endwith -%}
        </td>
        {% else -%}
        <td data-title="{{ k|fromkey }}">{{ _v }}</td>
        {% endif -%}
        {% endfor -%}
    </tr>
    {% endfor %}
{{ bootstrap.table_close() }}
{% endif -%}
