    {{ bootstrap.card_open(classes=['mb-2', 'bg-white']) }}
    <div class="row">
        <div class="col-md-10">
            <strong>{{ flag.title }}</strong><br />
            {{ flag.text }}
            {% if flag.mitre_attack_id|count > 0 -%}
            <br />
            {% if flag.severity == 'malicious' -%}
            {% set ma_bg = 'danger' %}
            {% elif flag.severity == 'suspicious' -%}
            {% set ma_bg = 'warning' %}
            {% elif flag.severity == 'uncommon' -%}
            {% set ma_bg = 'primary' %}
            {% else -%}
            {% set ma_bg = 'secondary' %}
            {% endif -%}
            {% for ma in flag.mitre_attack_id -%}
            <span class="badge badge-{{ ma_bg }}">{{ ma_entries[ma].name }} - {{ ma }}</span>
            {% endfor -%}
            {% endif -%}
            </div>
        <div class="col-md-2 margin-0 align-right">
            <strong>{{ flag.category|fromkey }}</strong><br/>
            <small>{{ flag.severity|fromkey }}</small>
        </div><!-- .col -->
    </div><!-- .row -->
    {{ bootstrap.card_close() }}
