{% extends 'layout.html' %}
{% block title %}Analysis | {{ sample.id|truncate(255, True) }}{% endblock %}
{% block header -%}{% include 'samples/widgets/sample_header.html' with context -%}{% endblock -%}
{% block body %}
{% include 'samples/widgets/mitre_attack.html' with context %}

{% if 'flags' in sample.metadata -%}
    {% for analysis, values in sample.metadata.flags.items() %}
        {% with analysis=analysis, values=values   %}
            {% include 'samples/widgets/flag_list.html' with context %}
        {% endwith %}
    {% endfor %}
{% else -%}
<p>Analysis unavailable for this file.</p>
{% endif -%}
{% endblock %}
