{% extends 'layout.html' %}
{% block title %}Sample Report {{ sample_id|truncate(255, True) }}{% endblock %}
{% block css -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap4.min.css') }}">
{% endblock -%}
{% block javascript -%}
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.data-table').DataTable();
} );
</script>
{% endblock -%}
{% block body %}
{{ bootstrap.block_header('IOCs') }}
{% if ioc_count > 0 -%}
          {% for ioc, values in sample.metadata.iocs.items() %}
<div class="panel-group" id="accordion_{{ ioc }}" role="tablist" aria-multiselectable="true">
    {% with key=ioc, value=values -%}
        {% include 'samples/widgets/attrblock_iterable.html' -%}
    {% endwith -%}
</div><!-- .panel-group -->

          {% endfor %}
{% else -%}
    <p>No IOCs found for this sample.</p>
{% endif -%}
{% endblock %}
