{% extends 'layout.html' %}
{% block title %}IOCs | {{ sample.id|truncate(255, True) }}{% endblock %}
{% block css -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap4.min.css') }}">
{% endblock -%}
{% block javascript -%}
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.data-table').DataTable();
} );
</script>
{% endblock -%}
{% block header -%}{% include 'samples/widgets/sample_header.html' with context -%}{% endblock -%}
{% block body %}
{% if ioc_count > 0 -%}
          {{ bootstrap.card_open(header='Indicators of Compromise', sub_header='Classified by type') }}
          {% for ioc, values in sample.metadata.iocs.items() %}
<div class="panel-group" id="accordion_{{ ioc }}" role="tablist" aria-multiselectable="true">
    {% with key=ioc, value=values -%}
        {% include 'samples/widgets/attrblock_iterable.html' -%}
    {% endwith -%}
</div><!-- .panel-group -->

          {% endfor %}
          {{ bootstrap.card_close() }}
{% else -%}
    <p>No IOCs found for this sample.</p>
{% endif -%}
{% endblock %}
