{% extends 'layout.html' %}
{% block title %}Sample Report | {{ sample.id|truncate(255, True) }}{% endblock %}
{% block header -%}{% include 'samples/widgets/sample_header.html' with context -%}{% endblock -%}
{% block body %}
<div class="row">
{% set evil_rating = (sample.evil_rating()/48)*100 %}
{% if evil_rating < 75 -%}
{% set evil_color = 'primary' -%}
{% else -%}
{% set evil_color = 'danger' -%}
{% endif -%}
{% if evil_rating > 0 -%}
{{ bootstrap.infobox('Evil Rating'|upper,'%.2f%%'|format(evil_rating),icon_name='bug', color=evil_color, count_to=True, count_decimals=2, count_number=evil_rating) }}
{% else -%}
{{ bootstrap.infobox('Evil Rating'|upper,'%.2f%%'|format(evil_rating),icon_name='bug', color=evil_color) }}
{% endif -%}
{{ bootstrap.infobox('Artifacts'|upper,sample.total_artifacts(),icon_name='fingerprint', count_to=True) }}
{{ bootstrap.infobox('Flags'|upper,sample.total_flags(),icon_name='flag', count_to=True) }}
{{ bootstrap.infobox('Mitre Att&ck Tactics'|upper,sample.total_mitre_attack_tactics(),icon_name='lightbulb', count_to=True) }}
</div><!-- .row -->

{{ bootstrap.block_header('Threat analysis', all_count = sample.metadata.flags|count, all_url=url_for('samples.analysis', sample_id=sample.id)) }}
<div class="row">
    <!-- Threat Analysis -->
    <div class="col-md-12">
        {% if sample.tracking_data.analyzers_completed|count > 0 -%}
    {{ bootstrap.card_open() }}
        {{ bootstrap.table_open(classes=['table-condensed','dashboard-task-infos'], head_values=['Analyzer','Info','Uncommon','Suspicious','Malicious','Evil Rating'], dataTable=False, flush=True) }}
            {% for ta in threat_analysis -%}
                <tr>
                    <td data-title="Analyzer">{{ ta.analyzer|fromkey }}</td>
                    <td data-title="Info">{{ ta.info }}</td>
                    <td data-title="Uncommon">{{ ta.uncommon }}</td>
                    <td data-title="Suspicious">{{ ta.suspicious }}</td>
                    <td data-title="Malicious">{{ ta.malicious }}</td>
                    <td data-title="Evil Rating">
                        {{ bootstrap.progress(ta.evil_rating, max=48, showPercent=False) }}
                    </td>
                </tr>
            {% endfor -%}
        {{ bootstrap.table_close() }}
    {{ bootstrap.card_close() }}
        {% else -%}
        <p>Threat analysis not performed on this file.</p>
        {% endif -%}
    </div><!-- .col -->
    <!-- /Threat Analysis -->
</div><!-- .row -->
{{ bootstrap.block_header('High severity flags', all_count=suspicious_flags|count, all_url=url_for('samples.analysis', sample_id=sample.id)) }}
<div class="row spaced">
    <!-- Flags -->
    <div class="col-md-12">
    {% if suspicious_flags|count > 0 -%}
        {% for flag in suspicious_flags -%}
            {% with flag=flag %}
                {% include 'samples/widgets/flag_block.html' -%}
            {% endwith -%}
        {% endfor -%}
    {% else -%}
        <p>No suspicious flags found for this sample.</p>
    {% endif -%}
    </div><!-- .col -->
</div><!-- .row -->

{{ bootstrap.block_header('Processing information') }}
<div class="row">
    <!-- Processors -->
    <div class="col-md-6 col-sm-12 mb-4">
        {{ bootstrap.card_open(header='Processors') }}
        {% if sample.tracking_data.processors_dispatched|count > 0 -%}
        <ul class="list-group">
        {% for processor in sample.tracking_data.processors_dispatched -%}
            <li class="list-group-item">
                {{ processor|fromkey }}
                {% if processor in sample.tracking_data.processors_completed -%}{{ bootstrap.badge('completed', class='float-right badge-success') }}{% else %}{{ bootstrap.badge('pending', class='float-right badge-light') }}{% endif -%}
            </li>
        {% endfor -%}
        </ul><!-- .list-group -->
        {% else -%}
        <p>No processors applied on this file.</p>
        {% endif -%}
        {{ bootstrap.card_close() }}
    </div><!-- .col -->
    <!-- /Processors -->

    <!-- Analyzers -->
    <div class="col-md-6 col-sm-12">
        {{ bootstrap.card_open(header='Analyzers') }}
        {% if sample.tracking_data.analyzers_dispatched|count > 0 -%}
        <ul class="list-group">
        {% for analyzer in sample.tracking_data.analyzers_dispatched -%}
            <li class="list-group-item">
                {{ analyzer|fromkey }}
                {% if analyzer in sample.tracking_data.analyzers_completed -%}{{ bootstrap.badge('completed', class='float-right badge-success') }}{% else %}{{ bootstrap.badge('pending', class='float-right badge-light') }}{% endif -%}
            </li>
        {% endfor -%}
        </ul><!-- .list-group -->
        {% else -%}
        <p>No analyzers applied on this file.</p>
        {% endif -%}
        {{ bootstrap.card_close() }}
    </div><!-- .col -->
    <!-- /Analyzers -->


</div><!-- .row -->
{% endblock %}
