{% extends 'layout.html' %}
{% block javascript -%}
    <!-- Leaftlet Maps -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""></script>

    <script>
var mymap = L.map('mapid').setView([51.505, -0.09], 13);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    </script>
{% endblock -%}
{% block title %}Sample Report {{ sample._id|truncate(255, True) }}{% endblock %}
{% block body %}
{{ bootstrap.block_header('Analysis Overview') }}

<div class="row">

    <!-- Basic File Information -->
    <div class="col-lg-12 col-md-12">
        {{ bootstrap.card_open() }}
                    <dl class="row">
                    {{ bootstrap.add_dl_item('Known Filenames:', sample.metadata.known_filenames|join(', ')) }}
                    {{ bootstrap.add_dl_item('Size:', sample.metadata.size|filesizeformat) }}
                    {{ bootstrap.add_dl_item('Timestamp:', sample.metadata.timestamp) }}
                    {{ bootstrap.add_dl_item('File Type:', sample.metadata.mimetype) }}
                    {{ bootstrap.add_dl_item('File Description:', sample.metadata.mimetype_str) }}
                    </dl>
        {{ bootstrap.card_close() }}
    </div><!-- .col -->
    <!-- /Basic File Information -->

</div><!-- .row -->

<div class="row spaced">
{% set evil_rating = (sample.evil_rating()/48)*100 %}
{% if evil_rating < 75 -%}
{% set evil_color = 'deep-purple' -%}
{% else -%}
{% set evil_color = 'red' -%}
{% endif -%}
{{ bootstrap.infobox('Evil Rating'|upper,'%.2f%%'|format(evil_rating),icon_name='bug_report', color=evil_color, count_to=True, count_decimals=2, count_number=evil_rating) }}
{{ bootstrap.infobox('Artifacts'|upper,sample.total_artifacts(),icon_name='fingerprint', color='deep-purple', count_to=True) }}
{{ bootstrap.infobox('Flags'|upper,sample.total_flags(),icon_name='flag', color='deep-purple', count_to=True) }}
{{ bootstrap.infobox('Something'|upper,'IDK',icon_name='bookmark', color='deep-purple') }}
</div><!-- .row -->

{{ bootstrap.block_header('Threat analysis') }}
<div class="row">
    <!-- Threat Analysis -->
    <div class="col-md-12">
    {{ bootstrap.card_open() }}
        {% if sample.metadata.analyzers_completed|count > 0 -%}
        {{ bootstrap.table_open(classes=['table-condensed','dashboard-task-infos'], head_values=['Analyzer','Info','Uncommon','Suspicious','Malicious','Evil Rating']) }}
            {% for ta in threat_analysis -%}
                <tr>
                    <td>{{ ta.analyzer|fromkey }}</td>
                    <td>{{ ta.info }}</td>
                    <td>{{ ta.uncommon }}</td>
                    <td>{{ ta.suspicious }}</td>
                    <td>{{ ta.malicious }}</td>
                    <td>
                        {{ bootstrap.progress(ta.evil_rating, max=48, showPercent=False) }}
                    </td>
                </tr>
            {% endfor -%}
        {{ bootstrap.table_close() }}
        {% else -%}
        <p>Threat analysis not performed on this file.</p>
        {% endif -%}
    {{ bootstrap.card_close() }}
    </div><!-- .col -->
    <!-- /Threat Analysis -->
</div><!-- .row -->
{{ bootstrap.block_header('High severity flags') }}
<div class="row spaced">
    <!-- Flags -->
    <div class="col-md-12">
    {% if suspicious_flags|count > 0 -%}
        {% for flag in suspicious_flags -%}
            {% with flag=flag %}
                {% include 'samples/widgets/flag_block.html' -%}
            {% endwith -%}
        {% endfor -%}
    {% else -%}
        <p>No suspicious flags found for this sample.</p>
    {% endif -%}
    </div><!-- .col -->
</div><!-- .row -->

{{ bootstrap.block_header('Traced geolocations') }}
<div class="row spaced">
    <div class="col-lg-12 col-md-12">
        {{ bootstrap.card_open() }}
            <div id="mapid"></div>
        {{ bootstrap.card_close() }}
    </div><!-- .col -->
</div><!-- .row -->

{{ bootstrap.block_header('Pipeline information') }}
<div class="row">
    <!-- Processors -->
    <div class="col-md-6 col-sm-12">
        {{ bootstrap.card_open(header='Processors') }}
        {% if sample.metadata.processors_dispatched|count > 0 -%}
        <ul class="list-group">
        {% for processor in sample.metadata.processors_dispatched -%}
            <li class="list-group-item">
                {{ processor|fromkey }}
                {% if processor in sample.metadata.processors_completed -%}{{ bootstrap.label('completed', class='pull-right label-success') }}{% else %}{{ bootstrap.label('pending', class='pull-right label-primary') }}{% endif -%}
            </li>
        {% endfor -%}
        </ul><!-- .list-group -->
        {% else -%}
        <p>No processors applied on this file.</p>
        {% endif -%}
        {{ bootstrap.card_close() }}
    </div><!-- .col -->
    <!-- /Processors -->

    <!-- Analyzers -->
    <div class="col-md-6 col-sm-12">
        {{ bootstrap.card_open(header='Analyzers') }}
        {% if sample.metadata.analyzers_dispatched|count > 0 -%}
        <ul class="list-group">
        {% for analyzer in sample.metadata.analyzers_dispatched -%}
            <li class="list-group-item">
                {{ analyzer|fromkey }}
                {% if analyzer in sample.metadata.analyzers_completed -%}{{ bootstrap.label('completed', class='pull-right label-success') }}{% else %}{{ bootstrap.label('pending', class='pull-right label-primary') }}{% endif -%}
            </li>
        {% endfor -%}
        </ul><!-- .list-group -->
        {% else -%}
        <p>No analyzers applied on this file.</p>
        {% endif -%}
        {{ bootstrap.card_close() }}
    </div><!-- .col -->
    <!-- /Analyzers -->


</div><!-- .row -->
{% endblock %}
