{% extends 'layout.html' -%}
{% block title -%}Dashboard{% endblock -%}
{% block header -%}
<div class="row mb-4">
{{ bootstrap.infobox('Total samples'|upper,counters.all,icon_name='bug', color='teal') }}
{{ bootstrap.infobox('Processing samples'|upper,counters.processing,icon_name='fingerprint', color='cyan') }}
{{ bootstrap.infobox('Analyzing samples'|upper,counters.analyzing,icon_name='lightbulb', color='blue') }}
{% if stack_status -%}
{% set stack_health_text = 'Healthy' -%}
{% set stack_health_color = 'success' -%}
{% else -%}
{% set stack_health_text = 'Offlline' -%}
{% set stack_health_color = 'warning' -%}
{% endif -%}
{{ bootstrap.infobox('Pipeline health'|upper, stack_health_text,icon_name='heart', color=stack_health_color) }}
</div><!-- .row -->
{% endblock -%}
{% block body -%}

<div id="bigChart" class="row">
    <div class="col-lg-9 col-md-12 mb-4">
{{ bootstrap.card_open(header='Sample quantity over time', classes=['bg-gradient-default'], dark=True, sub_header='Histogram'|upper) }}
{{ bootstrap.chart('histogram_chart', height=80) }}
{{ bootstrap.card_close() }}
    </div><!-- .col -->
    <div class="col-lg-3 col-md-12">
{{ bootstrap.card_open(header='Samples per type', sub_header='Diversity'|upper) }}
{{ bootstrap.chart('diversity_chart', height=280) }}
{{ bootstrap.card_close() }}
    </div><!-- .col -->
</div><!-- .row -->


{{ bootstrap.block_header('Latest samples'|upper, all_count=samples|count, all_url=url_for('samples.index'), all_text='View all samples') }}
<div class="row">
    <div class="col-lg-12 col-md-12">
    {% include 'samples/widgets/sample_list.html' -%}
    </div><!-- .col-12 -->
</div><!-- .row -->
{% endblock -%}
{% block javascript -%}
    <!-- Chart Plugins Js -->
    <script src='{{ url_for('static', filename='vendor/chart.js/dist/Chart.min.js') }}'></script>
    <script src='{{ url_for('static', filename='vendor/chart.js/dist/Chart.extension.js') }}'></script>
    <script>
$(function () {

window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};


    var histogram_config = {
            type: 'bar',
            data: {
                labels: {{ histogram.labels|tojson() }},
                datasets: [{
                    label: "Samples processed",
                    data: [{{ histogram.data|join(',') }}],
                    backgroundColor: window.chartColors.blue
                }]
            },
            options: {
                responsive: true,
                legend: false
            }
        }

    new Chart(document.getElementById("histogram_chart").getContext("2d"), histogram_config);

    var diversity_config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [{{ diversity.data|join(',') }}],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                        window.chartColors.purple,
                        window.chartColors.grey,
                    ],
                }],
                labels: {{ diversity.labels|tojson() }},
            },
            options: {
                responsive: true,
                legend: false
            }
        }

    new Chart(document.getElementById("diversity_chart").getContext("2d"), diversity_config);

});
    </script>
{% endblock -%}
